.bl-snippets-intro {
  padding-block: 2rem 3.2rem;
}

.bl-snippets-title {
  margin-block-end: 1.6rem;
}

@media screen and (min-width: 740px) {
  .bl-snippets-title {
    margin-block-end: 2rem;
  }
}

.bl-snippets-copy {
  text-align: center;
}

@media screen and (min-width: 740px) {
  .bl-snippets-copy {
    font-size: 1.8rem;
  }
}

.bl-snippets-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4.4rem;
  padding-block: 3.2rem 2rem;
}

@media screen and (min-width: 740px) {
  .bl-snippets-content {
    flex-direction: row;
  }
}

@media screen and (min-width: 1040px) {
  .bl-snippets-content {
    justify-content: flex-start;
    column-gap: 4.4rem;
  }
}

@media screen and (min-width: 740px) {
  .bl-snippets-content--left {
    max-width: 50%;
  }
}

@media screen and (min-width: 1240px) {
  .bl-snippets-content--left {
    max-width: 740px;
  }
}

.bl-snippets-content--right {
  padding: 2rem;
}

@media screen and (min-width: 740px) {
  .bl-snippets-content--right {
    width: 100%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1240px) {
  .bl-snippets-content--right {
    max-width: calc(100% - 740px);
  }
}

.bl-snippets-picture {
  max-width: 380px;
}

@media screen and (min-width: 740px) {
  .bl-snippets-picture {
    max-width: 100%;
    left: -8%;
  }
}

.bl-snippets-details {
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 1040px) {
  .bl-snippets-details {
    max-width: 380px;
  }
}

.bl-snippets-detail {
  padding-block: 2.4rem;
}

@media screen and (min-width: 1040px) {
  .bl-snippets-detail {
    padding-block: 2.8rem;
    text-align: left;
  }
}

.bl-snippets-detail:first-of-type {
  padding-block-start: 0;
}

.bl-snippets-detail:last-of-type {
  padding-block-end: 0;
}

.bl-detail-title {
  margin-block-end: 1.2rem;
}

@media screen and (min-width: 1040px) {
  .bl-detail-title {
    text-align: inherit;
  }
}

.bl-detail-copy {
  text-align: center;
}

@media screen and (min-width: 1040px) {
  .bl-detail-copy {
    text-align: left;
  }
}
